<div class="container-fluid mt-5" style="max-width: 600px; text-align: center;">
  <h5 style="margin-bottom: 30px;"><i class="fab fa-twitter" style="color: #00acee;"></i>  愛美さん 公式 Twitter</h5>
  <a class="twitter-timeline" data-chrome="noheader nofooter" data-width="500" data-height="500" href="https://twitter.com/aimi_sound?ref_src=twsrc%5Etfw">Tweets by aimi_sound</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <%= link_to "1番好きなインスタの投稿", "https://www.instagram.com/p/B1BfGuAHHPe/?utm_source=ig_web_copy_link", class: "btn btn-outline-light my-4" %>
</div>
