<div class="container-fluid mt-5" style="max-width: 600px;">
  <h2 style="margin-left: 1rem;">編集</h2>
  <%= render "form" %>
  <%= link_to "戻る", @post, class: "btn btn-outline-success mt-3 ml-3 mb-5" %>
</div>
