a.page-link {
  background-color: transparent;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination .page-item.active .page-link {
  background-color: rgba(0, 0, 0, 0.125);
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 50%;
}

.page-item .page-link:hover {
  color: #696969;
  background-color: transparent;
  border-radius: 50%;
}

.pagination {
  justify-content: center;
}